{% extends 'ToDo/home_base.html' %}
{% load static %}
{% block rightbar %}
<div class="statistic__wrap">
        <div class="tasks__header">
            <div class="tasks__active_title">Справочная информация</div>
        </div>
        <div class="stat__data">
            <p>Для использования сервиса необходимо зарегистрироваться и войти в свою учетную запись.</p>
            <p>Изменить данные своей учетной записи можно в меню Настройки, которое находится справа вверху возле имени пользователя.</p>
            <p>Сервис позволяет организовать свои задачи в виде карточек и контролировать их выполнение.</p>
            <p>На карточке задачи отображается ее заголовок, краткое содержание, дата создания, а также кнопки удаления задачи и изменения статуса на "выполнено".</p>
            <p>Карточки задач отличаются по цвету в зависимости от приоритета: низкий, обычный, высокий.</p>
            <p>На главное странице в левой колонке вы видите список актуальных задач, а в правой - список недавно выполненных.</p>
            <p>Для создания новой задачи необходимо нажать кнопку "Создать задачу", заполнить требуемые поля и нажать сохранить.</p>
            <p>Существует возможность отсортировать список по времени создания и в порядке приоритета.</p>
            <p>Для того чтобы отредактировать задачу, необходимо нажать на заголовок задачи на карточке. Чтобы пометить задачу как выполненную или удалить следует нажать соответствующую кнопку на карточке задачи и подтвердить действие.</p>
            <p>На странице выполненные отображается список всех выполненных задач.</p>
            <p>На странице статистики имеется возможность свою статистику за выбранный промежуток времени. Для этого следует выбрать период в форме справа вверху и нажать кнопку применить.</p>
            <p>На странице справки находится краткое руководство.</p>
        </div>

    </div>
{% endblock %}