{% extends 'ToDo/base.html' %}
{% load static %}
{% block content %}
    <div class="main">
        <div  class="leftbar">
            <ul class="home_menu">
                {% for key, item in menu.items %}
                    <li class="home_menu__item"><a href="{% url key %}">{{ item }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <div  class="rightbar">
            <div class="home_nav">
                <div class="home_info">
                        {% if request.user.is_authenticated %}
                        <span>{{ user.first_name }} {{ user.last_name }}</span>
                        <a href="{% url 'user_settings' %}">
                            <img class="settings__icon" src="{% static 'ToDo/images/settings.png' %}" alt="settings">
                        </a>
                        <a href="{% url 'logout' %}">Выйти</a>
                    {% endif %}
                </div>
            </div>

            {% block rightbar %}

            {% endblock %}
        </div>
    </div>
{% endblock %}