{% extends 'ToDo/home_base.html' %}

{% block rightbar %}
    <a href="{% url 'create_task' %}">Создать задачу</a>
    <div class="tasks__wrap">
        <div class="tasks__active">
        <div class="task">
                <div class="task__title">task title</div>
                <div class="task__priority">priority</div>
                <div class="task__descr">weqweqwewqewqeqwewqeqwweqweqwewqewqeqwewqeqwweqweqwewqewqeqwewqeqw</div>
                <div class="task__created_at">09.03.2022</div>
            </div>
            <div class="task">
                <div class="task__title">task title</div>
                <div class="task__priority">priority</div>
                <div class="task__descr">weqweqwewqewqeqwewqeqwweqweqwewqewqeqwewqeqwweqweqwewqewqeqwewqeqw</div>
                <div class="task__created_at">09.03.2022</div>
            </div>
            <div class="task">
                <div class="task__title">task title</div>
                <div class="task__priority">priority</div>
                <div class="task__descr">weqweqwewqewqeqwewqeqwweqweqwewqewqeqwewqeqwweqweqwewqewqeqwewqeqw</div>
                <div class="task__created_at">09.03.2022</div>
            </div>
            <div class="task">
                <div class="task__title">task title</div>
                <div class="task__priority">priority</div>
                <div class="task__descr">weqweqwewqewqeqwewqeqwweqweqwewqewqeqwewqeqwweqweqwewqewqeqwewqeqw</div>
                <div class="task__created_at">09.03.2022</div>
            </div>
        <div class="task">
                <div class="task__title">task title</div>
                <div class="task__priority">priority</div>
                <div class="task__descr">weqweqwewqewqeqwewqeqwweqweqwewqewqeqwewqeqwweqweqwewqewqeqwewqeqw</div>
                <div class="task__created_at">09.03.2022</div>
            </div>
        <div class="task">
                <div class="task__title">task title</div>
                <div class="task__priority">priority</div>
                <div class="task__descr">weqweqwewqewqeqwewqeqwweqweqwewqewqeqwewqeqwweqweqwewqewqeqwewqeqw</div>
                <div class="task__created_at">09.03.2022</div>
            </div>
        </div>


        <div class="tasks__completed">copleted</div>
    </div>

{% endblock %}