{% extends 'ToDo/home_base.html' %}

{% block rightbar %}
    <a href="{% url 'create_task' %}">Создать задачу</a>
    <div class="tasks__wrap">
        <div class="tasks__active">
            {% for task in tasks %}
                {% if not task.is_finished %}
                    <div class="task">
                        <div class="task__title">{{ task.title }}</div>
                        <div class="task__priority">{{ task.priority }}</div>
                        <div class="task__descr">{{ task.descr }}</div>
                        <div class="task__created_at">{{ task.created_at }}</div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <div class="tasks__completed">
            {% for task in tasks %}
                {% if task.is_finished %}
                    <div class="task">
                        <div class="task__title">{{ task.title }}</div>
                        <div class="task__priority">{{ task.priority }}</div>
                        <div class="task__descr">{{ task.descr }}</div>
                        <div class="task__created_at">{{ task.created_at }}</div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

{% endblock %}