html {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

.container {
    display: block;
    width: 900px;
    margin: 0 auto;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.nav a {
    font-size: 24px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}

.main {
    display: flex;
}

.leftbar {
    width: 15%;
    background-color: #484848;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.settings {
    align-self: flex-end;
}

.settings__icon {
    width: 30px;
    height: 30px;
}

.user_settings__title {
    display: block;
    margin-left: 40px;
    font-size: 24px;
}

.home_menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.home_menu__item {
    list-style-type: none;
    margin-bottom: 10px;
}

.home_menu__item a {
    text-decoration: none;
    color: white;
    list-style-type: none;
}

.home_nav {
    display: flex;
    justify-content: flex-end;
}

.home_info {
    margin-top: 10px;
    margin-right: 10px;
}

.rightbar {
    width: 85%;
    background-color: #D5D8DC;
    height: 100vh;
}

.login__wrapper {
    display: flex;
    margin-top: 30vh;
    justify-content: center; /*Центрирование по горизонтали*/
    align-items: center;     /*Центрирование по вертикали */
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}

.user_settings__wrap {
    display: flex;
    padding: 20px 30px 20px 30px;
}

.user_settings__avatar {
    display: block;
}

.user_settings__avatar img {
    height: 150px;
    width: 130px;
}

.user_settings__data {
    display: block;
    margin-left: 50px;
}

.user_settings__input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 200px;
  margin: 0 0 5px;
  padding: 5px;
  box-sizing: border-box;
  font-size: 14px;border: 1px solid dimgrey;
}

.tasks__wrap {
    display: flex;
    justify-content: space-between;
}

.tasks__active {
    padding: 30px 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.tasks__completed {
}

.task {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    border: 1px solid black;
    word-wrap: break-word;
    margin: 10px;
}

.task__title {
    width: 100%;
    background: #4CAF50;
    padding: 5px 10px;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 18px;
}

.task__priority {
    width: 100%;
    background: orange;
    padding: 5px 10px;
    box-sizing: border-box;
}

.task__descr {
    width: 100%;
    background: darkgray;
    padding: 5px 10px;
    box-sizing: border-box;
    min-height: 100px;
    word-wrap: inherit;
}

.task__created_at {
    width: 100%;
    background: cornflowerblue;
    padding: 5px 10px;
    box-sizing: border-box;
    font-size: 14px;
}